.adminContainer {
  display: flex;
  flex-direction: row;
}

table {
  margin: 0.5rem;
  border: 1px solid black;
  border-spacing: 0;
}

thead {
  background-color: lightgray;
  border-color: lightgray;
}

thead th {
  border: 1px solid black;
}

tbody tr td {
  border: 1px solid black;
}

tbody td img {
  width: 5rem;
}
